<!-- vista de la configuracion del usuario -->
<ion-view view-title="{{ 'titleConf' | translate }}">
    <ion-content> 
    	<div class="padding" style="text-align: center; padding-top: 18px;">
    		<img src="data:image/jpg;base64,{{ user.picture }}" style="max-width: 110px;">
    		<div style="position: relative; margin-top: -40px; margin-left: 70px;"><!-- upload() -->
    			<a ng-click="changeImage()" style="cursor: pointer;"><img src="img/plusplus.png" style="max-width: 45px;"></a>
    		</div>
    	</div>
        <div class="list">
			<a class="item item-icon-left" href="#/changeProfile">
			    <i class="icon ion-person"></i>
			    <p translate="confOp1">Editar perfil</p>
			</a>
			<a class="item item-icon-left" ng-click="changeLang()">
			    <i class="icon ion-chatbox-working"></i>
			    <p translate="confOp2">Cambiar idioma</p>
			</a>
			<a class="item item-icon-left" href="#/changePass">
			    <i class="icon ion-unlocked"></i>
			    <p translate="confOp3">Cambiar contraseña</p>
			</a>
			<!--<a class="item item-icon-left" href="#">
			    <i class="icon ion-chatbubble-working"></i>
			    <p translate="confOp4">Notificaciones y sonidos</p>
			</a>
			<a class="item item-icon-left" href="#">
			    <i class="icon ion-android-document"></i>
			    <p translate="confOp5">Terminos del servicio</p>
			</a>-->
		</div>
    </ion-content>
</ion-view>


