<!-- vista que se utilizara para la recuperacion de la contraseña -->
<ion-view >
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
	<ion-content style="margin-top: 2.5%">
        <div class="padding">
            Para poder recuperar tu cuenta y cambiar la contraseña, introduce tu dirección de email.
        </div>
        <form name="lostpasswordForm" novalidate="" ng-submit="verifymail(lostpasswordForm)"> 
    	    <div class="list list-inset">
                <label class="item item-input" ng-class="{ 'has-errors' : lostpasswordForm.mail.$invalid && lostpasswordForm.$submitted, 'no-errors' : lostpasswordForm.mail.$valid && lostpasswordForm.$submitted}">
                  <input name="mail" type="email" ng-model="user.mail" placeholder="Email" maxlength="35" required>
                </label>
                <div class="error-container" ng-show="lostpasswordForm.mail.$error && lostpasswordForm.$submitted" ng-messages="lostpasswordForm.mail.$error">
                    <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i> El campo esta vacio.
                    </div>
                    <div class="error" ng-message="email">
                      <i class="ion-information-circled"></i> Tienes que poner un email valido.
                    </div>
                </div>
            </div>
            <div class="padding">
                <button class="button button-assertive button-block" type="submit">Enviar email</button> 
            </div>
        </form>
	</ion-content>
</ion-view>