<!-- Vista de la pantalla de HOME, donde se podra escoger la opcion de logearse y registrarse -->
<ion-view>
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title class="text-center"> psicologapp </ion-nav-title>
    <ion-content class="padding">
        <img class="full-image" src="img/prueba/logo_prueba.png">
        <a href="#/login" class="button button-assertive button-block"> ENTRAR </a>
        <a class="button button-block button-outline button-assertive" href="#/register_code" style=""> REGISTRATE </a>
    </ion-content>
</ion-view>