<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
          <ul>
              <a class="item" style="height: 125px; border: none; background: url('img/material-graphite.jpg'); background-size: 100% 100%; background-repeat: no-repeat;">
                  <img src="data:image/jpg;base64,{{ user.picture }}" style="max-width: 60px; float: left;">
                  <div style="float: right;"> 
                      <p style="color: white;">{{ user.points }} puntos</p>
                  </div>
                  <div style="margin-top: 8px; position: absolute; bottom: 15px;">
                      <h2 style="color: white;"><b>{{ user.username }}</b></h2>
                  </div>
              </a>
              <a class="item item-icon-left menu-close selectitem" href="#">
                <i class="icon ion-ios-game-controller-b"></i>
                Temas
              </a>
              <a class="item item-icon-left menu-close selectitem" href="#/app/ranking">
                <i class="icon ion-trophy"></i>
                Ranking
              </a>
              <a class="item item-icon-left menu-close selectitem" href="#/app/conf">
                <i class="icon ion-gear-b"></i>
                Configuración
              </a>
              <a class="item item-icon-left menu-close selectitem" ng-click="logout()">
                <i class="icon ion-android-exit"></i>
                <span style="color: red;">Cerrar Sesión</span>
              </a>
          </ul>
  </ion-side-menu>
</ion-side-menus>