<!-- Vista que utilizaremos para pedir el codigo de confirmacion de registro de jefe o registro de usuario normal -->
<ion-view view-title="Verificar código">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="padding">
          <h5>Introduce el código de registro para saber a que afiliación correspondes.</h5>
        </div>
        <form name="codeForm" novalidate="" ng-submit="verifyCode(codeForm)"> 
            <div class="list list-inset" style="margin-top: -1%;">
                <label class="item item-input" ng-class="{ 'has-errors' : codeForm.code.$invalid && codeForm.$submitted, 'no-errors' : codeForm.code.$valid && codeForm.$submitted}">
                <input type="text" name="code" ng-model="verify.code" placeholder="Codigo de verificación" minlength="5" maxlength="5"  required>
                </label>
                <div class="error-container" ng-show="codeForm.code.$error && codeForm.$submitted" ng-messages="codeForm.code.$error">
                    <div class="error" ng-message="required">
                      <i class="ion-information-circled"></i> El campo esta vacio.
                    </div>
                    <div class="error" ng-message="minlength">
                      <i class="ion-information-circled"></i> El código no cumple las condiciones de longitud.
                    </div>
                </div>            
                <button class="button button-assertive button-block" type="submit">VERIFICAR CÓDIGO</button>   
            </div>     
        </form> 
    </ion-content>
</ion-view> 